config.log
config.status
configure
install-sh
py-compile
missing
ovirt-log-collector.spec
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.rpath
config.sub
ABOUT-NLS
tmp.*
*.pyc
*.pyo
*~
src/logrotate.d/ovirt-log-collector
src/config.py
src/config.py.in
src/ovirt-log-collector
src/inventory_report/inventory-profile
.idea
.gitreview
intl
ovirt-log-collector*.tar.gz
